body{
    height: 100vh;
}
.verify--section > h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 50px;
}


/* Animation */
.verify--loading {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border-radius: 30px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
#minute{
    transform-origin: 50% 50%;
    animation: rotate 1s linear infinite;
} 
#hour {
    transform-origin: 50% 50%;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {100% {transform: rotate(360deg)}}
  

